.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto 2rem auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;

  & h1 {
    font-size: 2.25rem;
    font-weight: 400;
  }
}