.image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin: 10px 0;
  cursor: pointer;
  opacity: 0.85;
}

.container {
  margin: 1rem auto;
  width: 90%;

  & h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem;
  }
}
